@import "tailwindcss";

:root {
  --font-pacifico: 'Pacifico', cursive;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
}

.font-pacifico {
  font-family: var(--font-pacifico);
}

.font-inter {
  font-family: var(--font-inter);
}

/* Leaflet fixes */
.leaflet-container {
  z-index: 1;
}
